<%= form_with(model: culture_addition, url: [@recipe, @culture_addition], id: "culture_addition_form", method: submit_method) do |form| %>
  <% if culture_addition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(culture_addition.errors.count, "error") %> prohibited this culture_addition from being saved:</h2>

      <ul>
      <% culture_addition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :recipe_id, form: 'culture_addition_form' %>

  <td>
    <div class="select">
      <%= form.collection_select :culture_id, Culture.all, :id, :name, {}, {form: 'culture_addition_form' }%>
    </div>
  </td>

  <td>
    <div class="control">
      <%= form.text_field :amount, class: 'input', form: 'culture_addition_form'%>
    </div>
  </td>

  <td>
    <div class="select">
      <%= form.select :time_unit, CultureAddition.time_units.keys.map{ |t|
        [ t.titleize, t ] }, {}, { form: "culture_addition_form"} %>
    </div>
  </td>

  <td>
    <div class="control">
      <%= form.text_field :time, class: 'input', form: 'culture_addition_form' %>
    </div>
  </td>

  <td>
    <div class="control">
      <%= form.text_field :attenuation, class: 'input', form: 'culture_addition_form' %>
    </div>
  </td>

  <td>
    <div class="control">
      <%= form.number_field :cell_count_billions, class: 'input', form: 'culture_addition_form'  %>
    </div>
  </td>

  <td class="field">
    <div class="control">
      <%= form.submit  class: 'button is-link', form: 'culture_addition_form' %>
    </div>
  </td>


  <td>
    <div class="control">
      <%= link_to 'Cancel', recipe_culture_additions_path(recipe_id: @recipe.id), remote: true, class: "button is-link" %>
    </div>
  </td>
<% end %>
