<p id="notice"><%= notice %></p>

<h1>Culture Additions</h1>

<table>
  <thead>
    <tr>
      <th>Recipe</th>
      <th>Culture</th>
      <th>Amount</th>
      <th>Time unit</th>
      <th>Time</th>
      <th>Duration unit</th>
      <th>Duration</th>
      <th>Attenuation</th>
      <th>Cell count billions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @culture_additions.each do |culture_addition| %>
      <tr>
        <td><%= culture_addition.recipe %></td>
        <td><%= culture_addition.culture %></td>
        <td><%= culture_addition.amount %></td>
        <td><%= culture_addition.time_unit %></td>
        <td><%= culture_addition.time %></td>
        <td><%= culture_addition.duration_unit %></td>
        <td><%= culture_addition.duration %></td>
        <td><%= culture_addition.attenuation %></td>
        <td><%= culture_addition.cell_count_billions %></td>
        <td><%= link_to 'Show', culture_addition %></td>
        <td><%= link_to 'Edit', edit_culture_addition_path(culture_addition) %></td>
        <td><%= link_to 'Destroy', culture_addition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Culture Addition', new_culture_addition_path %>
