<p id="notice"><%= notice %></p>

<p>
  <strong>Recipe:</strong>
  <%= @culture_addition.recipe %>
</p>

<p>
  <strong>Culture:</strong>
  <%= @culture_addition.culture %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @culture_addition.amount %>
</p>

<p>
  <strong>Time unit:</strong>
  <%= @culture_addition.time_unit %>
</p>

<p>
  <strong>Time:</strong>
  <%= @culture_addition.time %>
</p>

<p>
  <strong>Duration unit:</strong>
  <%= @culture_addition.duration_unit %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @culture_addition.duration %>
</p>

<p>
  <strong>Attenuation:</strong>
  <%= @culture_addition.attenuation %>
</p>

<p>
  <strong>Cell count billions:</strong>
  <%= @culture_addition.cell_count_billions %>
</p>

<%= link_to 'Edit', edit_culture_addition_path(@culture_addition) %> |
<%= link_to 'Back', culture_additions_path %>
