<%= form_with(model: hop, local: true) do |form| %>
  <% if hop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hop.errors.count, "error") %> prohibited this hop from being saved:</h2>

      <ul>
      <% hop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :producer %>
    <%= form.text_field :producer %>
  </div>

  <div class="field">
    <%= form.label :origin %>
    <%= form.text_field :origin %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.label :form %>
    <%= form.number_field :form %>
  </div>

  <div class="field">
    <%= form.label :alpha_acid %>
    <%= form.text_field :alpha_acid %>
  </div>

  <div class="field">
    <%= form.label :beta_acid %>
    <%= form.text_field :beta_acid %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.number_field :type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
