<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hop.name %>
</p>

<p>
  <strong>Producer:</strong>
  <%= @hop.producer %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @hop.origin %>
</p>

<p>
  <strong>Year:</strong>
  <%= @hop.year %>
</p>

<p>
  <strong>Form:</strong>
  <%= @hop.form %>
</p>

<p>
  <strong>Alpha acid:</strong>
  <%= @hop.alpha_acid %>
</p>

<p>
  <strong>Beta acid:</strong>
  <%= @hop.beta_acid %>
</p>

<p>
  <strong>Type:</strong>
  <%= @hop.type %>
</p>

<%= link_to 'Edit', edit_hop_path(@hop) %> |
<%= link_to 'Back', hops_path %>
