
<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: 'label' %>
    <div class="control">
      <%= form.text_field :name, class: 'input', placeholder: 'Recipe Title' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :type, class: 'label' %>
    <div class="control">
      <div class="select">
        <%= form.select :type, Recipe.types.keys.map { |t| [ t.titleize, t ] } %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :author, class: 'label' %>
    <div class="control">
      <%= form.text_field :author, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :coauthor, class: 'label' %>
    <div class="control">
      <%= form.text_field :coauthor, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :batch_size, class: 'label' %>
    <div class="control">
      <%= form.text_field :batch_size, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :efficency, class: 'label' %>
    <div class="control">
      <%= form.text_field :efficency, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :style, class: 'label' %>
    <div class="control">
      <%= form.text_field :style, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :notes, class: 'label' %>
    <div class="control">
      <%= form.text_field :notes, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :original_gravity, class: 'label' %>
    <div class="control">
      <%= form.text_field :original_gravity, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :final_gravity, class: 'label'  %>
    <div class="control">
      <%= form.text_field :final_gravity, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :alcohol_by_volume, class: 'label'  %>
    <div class="control">
      <%= form.text_field :alcohol_by_volume, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :ibu_estimate, class: 'label'  %>
    <div class="control">
      <%= form.number_field :ibu_estimate, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :color_estimate, class: 'label'  %>
    <div class="control">
      <%= form.number_field :color_estimate, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :carbonation, class: 'label'  %>
    <div class="control">
      <%= form.text_field :carbonatio, class: 'input' %>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= form.submit class: 'button is-link'%>
    </div>
  </div>
<% end %>
