<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.number_field :type %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :coauthor %>
    <%= form.text_field :coauthor %>
  </div>

  <div class="field">
    <%= form.label :batch_size %>
    <%= form.text_field :batch_size %>
  </div>

  <div class="field">
    <%= form.label :efficency %>
    <%= form.text_field :efficency %>
  </div>

  <div class="field">
    <%= form.label :style %>
    <%= form.text_field :style %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>

  <div class="field">
    <%= form.label :original_gravity %>
    <%= form.text_field :original_gravity %>
  </div>

  <div class="field">
    <%= form.label :final_gravity %>
    <%= form.text_field :final_gravity %>
  </div>

  <div class="field">
    <%= form.label :alcohol_by_volume %>
    <%= form.text_field :alcohol_by_volume %>
  </div>

  <div class="field">
    <%= form.label :ibu_estimate %>
    <%= form.number_field :ibu_estimate %>
  </div>

  <div class="field">
    <%= form.label :color_estimate %>
    <%= form.number_field :color_estimate %>
  </div>

  <div class="field">
    <%= form.label :carbonation %>
    <%= form.text_field :carbonation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
