<p id="notice"><%= notice %></p>

<h1 class="title">Recipes</h1>

<table class="table is-striped is-fullwidth is-narrow is-hoverable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Author</th>
      <th>Coauthor</th>
      <th>Batch size</th>
      <th>Efficency</th>
      <th>Style</th>
      <th>Notes</th>
      <th>Original gravity</th>
      <th>Final gravity</th>
      <th>Alcohol by volume</th>
      <th>Ibu estimate</th>
      <th>Color estimate</th>
      <th>Carbonation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.name, edit_recipe_path(recipe) %></td>
        <td><%= recipe.type %></td>
        <td><%= recipe.author %></td>
        <td><%= recipe.coauthor %></td>
        <td><%= recipe.batch_size %></td>
        <td><%= recipe.efficency %></td>
        <td><%= recipe.style %></td>
        <td><%= recipe.notes %></td>
        <td><%= recipe.original_gravity %></td>
        <td><%= recipe.final_gravity %></td>
        <td><%= recipe.alcohol_by_volume %></td>
        <td><%= recipe.ibu_estimate %></td>
        <td><%= recipe.color_estimate %></td>
        <td><%= recipe.carbonation %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path , class: 'button is-link'%>
