<%= form_with(model: fermentable_addition, url: [@recipe, @fermentable_addition], id: "fermentable_addition_form", method: submit_method) do |form| %>
  <% if fermentable_addition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fermentable_addition.errors.count, "error") %> prohibited this fermentable_addition from being saved:</h2>

      <ul>
      <% fermentable_addition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :recipe_id %>

<%#
  <div class="field is-grouped"> %>
    <%# form.label :fermentable_id, class: 'label' %>
    <td>
    <div class="control">
      <div class="select">
        <%= form.collection_select :fermentable_id, Fermentable.all, :id, :name, {}, {form: 'fermentable_addition_form' }%>
      </div>
    </div>
    </td>
    <%# form.label :amount, class: 'label' %>
    <td>
    <div class="control">
      <%= form.text_field :amount, class: 'input', form: "fermentable_addition_form" %>
    </div>
    </td>

    <%# form.label :time_unit, class: 'label' %>
    <td>
    <div class="control">
      <div class="select">
        <%= form.select :time_unit, FermentableAddition.time_units.keys.map{ |t|
          [ t.titleize, t ] }, {}, { form: "fermentable_addition_form"} %>
      </div>
    </div>
    </td>

    <%# form.label :time, class: 'label' %>
    <td>
    <div class="control">
      <%= form.text_field :time, class: 'input is-warning', form: 'fermentable_addition_form' %>
    </div>
    </td>

    <%# form.label :use, class: 'label' %>
    <td>
    <div class="control">
      <div class="select">
        <%= form.select :use, FermentableAddition.uses.keys.map { |u| [ u.titleize, u ] }, { }, form: 'fermentable_addition_form' %>
      </div>
    </div>
    </td>

    <!-- <div class="field"> -->
    <td class="field">
      <div class="control">
        <%= form.submit  class: 'button is-link', form: 'fermentable_addition_form' %>
      </div>
    </td>
    <!-- </div> -->

    <td>
      <div class="control">
        <%= link_to 'Cancel', recipe_fermentable_additions_path(recipe_id: @recipe.id), remote: true, class: "button is-link" %>
      </div>
    </td>
  <!-- </div> -->
<% end %>
