<p id="notice"><%= notice %></p>

<h1>Fermentable Additions</h1>

<table>
  <thead>
    <tr>
      <th>Recipe</th>
      <th>Fermentable</th>
      <th>Amount</th>
      <th>Time unit</th>
      <th>Time</th>
      <th>Duration unit</th>
      <th>Duration</th>
      <th>Step</th>
      <th>Use</th>
      <th>Specific gravity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fermentable_additions.each do |fermentable_addition| %>
      <tr>
        <td><%= fermentable_addition.recipe.name %></td>
        <td><%= fermentable_addition.fermentable.name %></td>
        <td><%= fermentable_addition.amount %></td>
        <td><%= fermentable_addition.time_unit %></td>
        <td><%= fermentable_addition.time %></td>
        <td><%= fermentable_addition.duration_unit %></td>
        <td><%= fermentable_addition.duration %></td>
        <td><%= fermentable_addition.step %></td>
        <td><%= fermentable_addition.use %></td>
        <td><%= fermentable_addition.specific_gravity.round(2) %></td>
        <td><%= link_to 'Show', fermentable_addition %></td>
        <td><%= link_to 'Edit', edit_fermentable_addition_path(fermentable_addition) %></td>
        <td><%= link_to 'Destroy', fermentable_addition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fermentable Addition', new_fermentable_addition_path %>
