<p id="notice"><%= notice %></p>

<h1 class="title">Fermentable Additions</h1>

<table class="table is-striped is-fullwidth is-narrow is-hoverable">
  <thead>
    <tr>
      <th>Fermentable</th>
      <th>Amount</th>
      <th>Time unit</th>
      <th>Time</th>
      <!-- <th>Duration unit</th> -->
      <!-- <th>Duration</th> -->
      <!-- <th>Specific gravity</th> -->
      <!-- <th>Step</th> -->
      <th>Use</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @fermentable_additions.each do |fermentable_addition| %>
      <tr class='<%="fermentable-addition-#{fermentable_addition.id}"%>'>
        <td><%= fermentable_addition.fermentable.name %></td>
        <td><%= fermentable_addition.amount %></td>
        <td><%= fermentable_addition.time_unit %></td>
        <td><%= fermentable_addition.time %></td>
        <!-- <td><%= fermentable_addition.duration_unit %></td> -->
        <!-- <td><%= fermentable_addition.duration %></td> -->
        <!-- <td><%= fermentable_addition.specific_gravity %></td> -->
        <!-- <td><%= fermentable_addition.step %></td> -->
        <td><%= fermentable_addition.use %></td>
        <!-- <td><%= link_to 'Show', recipe_fermentable_addition_path(@recipe, fermentable_addition) %></td> -->
        <td><%= link_to 'Edit', edit_recipe_fermentable_addition_path(@recipe, fermentable_addition), remote: true %></td>
        <td><%= link_to 'Destroy', recipe_fermentable_addition_path(@recipe, fermentable_addition), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
      </tr>
    <% end %>
    <tr class="new-fermentable is-hidden">
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Fermentable Addition', new_recipe_fermentable_addition_path(recipe_id: @recipe.id), remote: true %>
