<p id="notice"><%= notice %></p>

<p>
  <strong>Recipe:</strong>
  <%= @fermentable_addition.recipe.name %>
</p>

<p>
  <strong>Fermentable:</strong>
  <%= @fermentable_addition.fermentable.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @fermentable_addition.amount %>
</p>

<p>
  <strong>Time unit:</strong>
  <%= @fermentable_addition.time_unit %>
</p>

<p>
  <strong>Time:</strong>
  <%= @fermentable_addition.time %>
</p>

<p>
  <strong>Duration unit:</strong>
  <%= @fermentable_addition.duration_unit %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @fermentable_addition.duration %>
</p>

<p>
  <strong>Step:</strong>
  <%= @fermentable_addition.step %>
</p>

<p>
  <strong>Use:</strong>
  <%= @fermentable_addition.use %>
</p>

<p>
  <strong>Specific gravity:</strong>
  <%= @fermentable_addition.specific_gravity.round(2) %>
</p>

<%= link_to 'Edit', edit_fermentable_addition_path(@fermentable_addition) %> |
<%= link_to 'Back', fermentable_additions_path %>
