<%= form_with(model: fermentable, local: true) do |form| %>
  <% if fermentable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fermentable.errors.count, "error") %> prohibited this fermentable from being saved:</h2>

      <ul>
      <% fermentable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.select :type, Fermentable.types.keys.map {|t| [t.titleize, t] } %>
  </div>

  <div class="field">
    <%= form.label :grain_group %>
    <%= form.select :grain_group, Fermentable.grain_groups.keys.map { |gg| [gg.titleize, gg] } %>
  </div>

  <div class="field">
    <%= form.label :potential %>
    <%= form.number_field :potential, in: 0.00..1, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.number_field :color %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
