<%= form_with(model: culture, local: true) do |form| %>
  <% if culture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(culture.errors.count, "error") %> prohibited this culture from being saved:</h2>

      <ul>
      <% culture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.select :type, Culture.types.keys.map {|t| [t.titleize,t]} %>
  </div>

  <div class="field">
    <%= form.label :form %>
    <%= form.select :form, Culture.forms.keys.map {|f| [f.titleize,f]} %>
  </div>

  <div class="field">
    <%= form.label :producer %>
    <%= form.text_field :producer %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id %>
  </div>

  <div class="field">
    <%= form.label :attenuation_min %>
    <%= form.number_field :attenuation_min %>
  </div>

  <div class="field">
    <%= form.label :attenuation_max %>
    <%= form.number_field :attenuation_max %>
  </div>

  <div class="field">
    <%= form.label :alcohol_tolerance %>
    <%= form.text_field :alcohol_tolerance %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
