<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @culture.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @culture.type %>
</p>

<p>
  <strong>Form:</strong>
  <%= @culture.form %>
</p>

<p>
  <strong>Producer:</strong>
  <%= @culture.producer %>
</p>

<p>
  <strong>Product:</strong>
  <%= @culture.product_id %>
</p>

<p>
  <strong>Attenuation min:</strong>
  <%= @culture.attenuation_min %>
</p>

<p>
  <strong>Attenuation max:</strong>
  <%= @culture.attenuation_max %>
</p>

<p>
  <strong>Alcohol tolerance:</strong>
  <%= @culture.alcohol_tolerance %>
</p>

<%= link_to 'Edit', edit_culture_path(@culture) %> |
<%= link_to 'Back', cultures_path %>
