<%= form_with(model: hop_addition, url: [@recipe, @hop_addition], id: "hop_addition_form", method: submit_method) do |form| %>
  <% if hop_addition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hop_addition.errors.count, "error") %> prohibited this hop_addition from being saved:</h2>

      <ul>
      <% hop_addition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :recipe_id, form: 'hop_addition_form' %>

  <td>
    <div class="select">
      <%= form.collection_select :hop_id, Hop.all, :id, :name, {}, {form: 'hop_addition_form' }%>
    </div>
  </td>

  <td>
    <div class="control">
      <%= form.text_field :amount, class: 'input', form: 'hop_addition_form'%>
    </div>
  </td>

  <td>
    <div class="select">
      <%= form.select :time_unit, HopAddition.time_units.keys.map{ |t|
        [ t.titleize, t ] }, {}, { form: "hop_addition_form"} %>
    </div>
  </td>

  <td>
    <div class="control">
      <%= form.text_field :time, class: 'input', form: 'hop_addition_form' %>
    </div>
  </td>

  <td>
    <div class="control">
      <div class="select">
        <%= form.select :use, HopAddition.uses.keys.map{ |u|
          [ u.titleize, u ] }, { }, form: 'hop_addition_form' %>
      </div>
    </div>
  </td>

  <td class="field">
    <div class="control">
      <%= form.submit  class: 'button is-link', form: 'hop_addition_form' %>
    </div>
  </td>


  <td>
    <div class="control">
      <%= link_to 'Cancel', recipe_hop_additions_path(recipe_id: @recipe.id), remote: true, class: "button is-link" %>
    </div>
  </td>
<% end %>
